<form class="ui stacked segment form" action="/dashboard/create-station" method="POST">
  <div class="three fields">
    <div class="required field">
      <label>New Station</label>
      <input placeholder="Location" type="text" name="name">
    </div>
    <div class="field">
      <label>Latitude</label>
      <input placeholder="Latitude" type="number" name="latitude">
    </div>
    <div class="field">
      <label>Longitude</label>
      <input placeholder="Longitude" type="number" name="longitude">
    </div>
  </div>

  <button class="ui blue submit button">
    <i class="plus icon"></i> Create Station
  </button>
  <div class="ui error message"></div>
</form>

<script>
  $('.ui.form')
    .form({
      fields: {
        name: {
          identifier  : 'name',
          rules: [
            {
              type   : 'empty',
              prompt : 'Please enter a valid station location.'
            }
          ]
        }
      }
    });
</script>