<div class="ui top attached menu">
  <div id="graph-menu" class="ui simple dropdown item">
    Trends
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">
        <a href="/station/{{station.id}}">Temperature</a>
      </div>
      <div class="item">
        <a href="/station/{{station.id}}/chart/wind-speed">Wind Speed</a>
      </div>
      <div class="item">
        <a href="/station/{{station.id}}/chart/pressure">Pressure</a>
      </div>
    </div>
  </div>
  <div class="right menu">
    <div class="ui right aligned item">
      <a href="/dashboard" class="ui button">
        <i class="chevron left icon"></i>Back to Dashboard
      </a>
    </div>
  </div>
</div>