<div class="ui five column grid">
  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">

        <h3 class="ui header">
          <i class="green map marker icon"></i>
          <div class="content">{{name}}</div>
        </h3>
        <div class="ui divider"></div>

        <div class="ui two column grid">
          <div class="column">
            <div class="description">Latitude</div>
            <div class="description">Longitude</div>
          </div>

          <div class="column">
            <div class="description">{{position.latitude}}</div>
            <div class="description">{{position.longitude}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>