<nav class="ui menu">
  <header class="ui header item"> <a href="/">WeatherTop V2</a></header>
  <div class="right menu">
    <a id="sign-up" class="item" href="/sign-up"><i class="user plus icon"></i>Sign up</a>
    <a id="sign-in" class="item" href="/sign-in"><i class="user icon"></i>Sign in</a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>