{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    WeatherTop V2
  </h3>
  <p>
    This web application allows users to view weather reports from different stations.<br><br>
    <i>Created in JavaScript</i>
  </p>
</section>