{{> menu id="about"}}

<section class="ui segment">
  <div class ="ui center aligned segment">
    <h2 class="ui header">
      <div class="content">WeatherTop V2</div>
      <div class="sub header">
        Release 4
      </div>
    </h2>
  </div>
  <div class="content">
    <ul>
      <li>Algorithms to pick up on weather trends</li>
      <li>Latest weather cards were moved to display on the dashboard and have changing icons depending on the weather</li>
      <li>Settings page to allow members keep their information up to date</li>
      <li>Trend charts are displayed in the Station view</li>
      <li>Map view to display all stations</li>
    </ul>
  </div>
</section>
