{{> menu id="dashboard"}}

{{> map}}

{{#each stations}}
<section class="ui segment">
  {{#if containsReadings}}
    {{> cards}}
  {{else}}
    {{> location-card}}
  {{/if}}
  {{> list-stations}}
</section>
{{/each}}

{{> create-station}}
<div class="ui hidden divider"></div>