{{> menu id="dashboard"}}

{{#if latestReport.readings.code}}
  <section class="ui segment">
    {{> cards}}
    {{> list-readings}}
  </section>
{{/if}}

<div class="ui hidden divider"></div>
{{> add-reading}}

<div class="ui hidden divider"></div>